body{
    margin: 0;
    padding: 0;
}   

.header__nav__list{
    list-style: none;
    display:flex;
    gap: 40px;
    text-decoration: none;
}

.header{
    padding: 10px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__action{
    display: flex;
    gap: 20px;

    
}
.header__action__duyme-item{
    margin-left: 40px;
}

.main__image{
    background-image: url(/html/fon.jpg);
    background-repeat: no-repeat;
    height: 500px;
    text-decoration-color: red;
}
.main__image__text{
    padding-top: 150px;
    padding-left: 90px;
    padding-bottom: 30px;
    padding-right: 30px;
    color: red;
}